<div class="container">
    <h1>Dashboard</h1>
</div>

<div class="container">
    <div id="categories">
    </div>
</div>

<div class="container">
    <%= link_to 'Cargar', '#', class: 'btn btn-primary', id: 'cargar-ajax' %>
</div>

<script>
    let btn = document.getElementById('cargar-ajax');
    btn.addEventListener('click', event => {
        event.preventDefault();
        console.log('Impreso desde la función');
        let categories = document.getElementById('categories');

        fetch('/categories.json', {
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
            .then(response => response.text())
            .then(x => categories.innerHTML = x)
    });
</script>