<div id="<%= dom_id venue %>">
  <p>
    <strong>Name:</strong>
    <%= venue.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= venue.address %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= venue.capacity %>
  </p>

</div>
