<div class="container">
    <div class="row">
        <h1>Editar Categoría</h1>
    </div>
</div>

<%= render 'form' %>
<br>
<div class="container">
    <%= link_to 'Atrás', categories_path, class: 'btn btn-primary' %>
</div>