<div class="container">
    <h1>Lista de categorías</h1>
</div>

<div class="container">
    <ul>
        <% @categories.each do |category| %>
        <li><%= link_to category.name, category %> | <%= link_to 'Editar', edit_category_path(category) %> | <%= link_to 'Eliminar', category, data: { turbo_method: :delete, turbo_confirm: 'Estás seguro?' } %></li>
        <% end %>
    </ul>
</div>

<div class="container">
    <div class="row">
        <%= link_to 'Nueva', new_category_path, class: 'btn btn-primary col-md-2 offset-md-4' %>
    </div>
</div>